fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic[email]
python-multipart
passlib[bcrypt]
python-jose[cryptography]
fastapi-mail
tensorflow
numpy
opencv-python
google-generativeai
requests
pillow